# Theory explanation files and papers.
Theory/*

#Original Data files
Data/*.csv
Data/*.xlsx

# Bad databases
Data/Letzkus10/*

# Results
*.ods*
*docx

# ipython stuff
.idea
src/.idea
src/*ipynb*
src/__pycache__

src/play*

src/*.pyc
src/*.sh
src/log/*
